

html,
body,
.stApp{

margin:0;
padding:0;
background:#07111F;
color:white;
font-family:Arial,sans-serif;

}

#MainMenu,
header,
footer{

visibility:hidden;

}

.block-container{

padding:0 !important;
max-width:100% !important;

}

