

#MainMenu{
visibility:hidden;
}

header[data-testid="stHeader"]{
display:none;
}

footer{
display:none;
}

div.block-container{

padding:0rem !important;

margin:0rem !important;

max-width:100% !important;

}

[data-testid="stAppViewContainer"]{

padding:0 !important;

margin:0 !important;

}

[data-testid="stVerticalBlock"]{

padding:0 !important;

gap:0 !important;

}

.stApp{

overflow-x:hidden;

}

